streamlit

langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-text-splitters==0.2.2

langchain-openai==0.1.21
langchain-huggingface==0.0.3
langchain-ollama==0.1.1
langchain-groq==0.1.9

faiss-cpu
sentence-transformers

pypdf
docx2txt

python-dotenv

tf-keras